html {
    box-sizing: border-box;
    background-color: #F2E5D9;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:visited {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:hover {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:active {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

/* 
body {
    background-color: #F2E5D9;
    width: 800px;
 }
 */

body {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
 }

.header {
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  border: 5px;
  gap: 25px;
  flex: 1;
}

.hlogo {
  flex: 2;
  height: auto;
  width: 60px;
}

.links {
  font-size: 20px;
  
}

h1 {
    color: #839602;
    font-family: sans-serif;
  }

.intro {
    height: 40px;
    width: 800px;
    box-sizing: border-box;
}

.logozwei {
    height: auto;
    width: 100px;
  }
 
ul {
    margin: 20px;
}

.socialmedia {
    display: inline-block;
    background-color: #839602;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
}