html {
    box-sizing: border-box;
    background-color: #F2E5D9;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:visited {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:hover {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:active {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

/* 
body {
    background-color: #F2E5D9;
    width: 800px;
 }
 */

body {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
 }

.header {
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  border: 5px;
  gap: 25px;
  flex: 1;
}

img.hlogo {
  flex: 2;
  height: auto;
  width: 60px;
}

.links {
  font-size: 20px;
  
}

.links.fa {
  padding-top: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
